In [109]:
import json
import pandas as pd
from pathlib import Path
from sqlalchemy import text

from db import set_connection

In [14]:
SOURCE = 'adventure_works.xlsx'

In [3]:
xl_file = pd.ExcelFile(source)

In [4]:
xl_file.sheet_names

['Customers',
 'Products',
 'Territory',
 'Sales',
 'ProductCategory',
 'ProductSubCategory']

In [13]:
make_snake_case(customers.columns[7])

'number_children_at_home'

In [10]:
for ix, sym in enumerate('col_name'):
    print(ix, sym)

0 c
1 o
2 l
3 _
4 n
5 a
6 m
7 e

In [19]:
customers = read_data('Customers')

In [24]:
print('\n'.join(customers.columns.to_list()))

customer_key
geography_key
name
birth_date
marital_status
gender
yearly_income
number_children_at_home
occupation
house_owner_flag
number_cars_owned
address_line1
address_line2
phone
date_first_purchase

In [28]:
products = read_data('Products')

In [29]:
print('\n'.join(products.columns.to_list()))

product_key
product_subcategory_key
product_name
standard_cost
color
safety_stock_level
list_price
size
size_range
weight
days_to_manufacture
product_line
dealer_price
class
model_name
description
start_date
end_date
status

In [30]:
territory = read_data('Territory')

In [31]:
print('\n'.join(territory.columns.to_list()))

territory _key
region
country
group

In [32]:
sales = read_data('Sales')

In [33]:
print('\n'.join(sales.columns.to_list()))

product_key
order_date
order_date_key
customer_key
sales_territory_key
sales_order_number
sales_order_line_number
order_quantity
unit_price
extended_amount
unit_price_discount_pct
discount_amount
product_standard_cost
total_product_cost
sales_amount
tax_amt
freight
region_month_i_d

In [34]:
prod_cat = read_data('ProductCategory')

In [35]:
print('\n'.join(prod_cat.columns.to_list()))

product_category_key
product_category_alternate_key
english_product_category_name
spanish_product_category_name
french_product_category_name

In [36]:
prod_sub_cat = read_data('ProductSubCategory')

In [37]:
print('\n'.join(prod_sub_cat.columns.to_list()))

product_subcategory_key
product_subcategory_alternate_key
english_product_subcategory_name
spanish_product_subcategory_name
french_product_subcategory_name
product_category_key

In [42]:
prod_cat.query("product_category_key != product_category_alternate_key")

Empty DataFrame
Columns: [product_category_key, product_category_alternate_key, english_product_category_name, spanish_product_category_name, french_product_category_name]
Index: []

In [44]:
territory

    territory _key          region         country          group
0                1       Northwest   United States  North America
1                2       Northeast   United States  North America
2                3         Central   United States  North America
3                4       Southwest   United States  North America
4                5       Southeast   United States  North America
5                6          Canada          Canada  North America
6                7          France          France         Europe
7                8         Germany         Germany         Europe
8                9       Australia       Australia        Pacific
9               10  United Kingdom  United Kingdom         Europe
10              11             NaN             NaN            NaN

In [43]:
customers.head()

,customer_key,geography_key,name,birth_date,marital_status,gender,yearly_income,number_children_at_home,occupation,house_owner_flag,number_cars_owned,address_line1,address_line2,phone,date_first_purchase
0,11602,135,Larry Gill,1977-04-13,S,M,30000,0,Clerical,0,1,Am Gallberg 645,NaN,1 (11) 500 555-0125,2004-01-11
1,11603,244,Geoffrey Gonzalez,1977-02-06,S,M,30000,0,Clerical,0,1,1538 Golden Meadow,NaN,1 (11) 500 555-0131,2002-07-21
2,11610,269,Blake Collins,1975-04-23,S,M,30000,0,Clerical,0,1,4519 Lydia Lane,NaN,1 (11) 500 555-0140,2002-07-13
3,12517,133,Alexa Watson,1977-08-25,S,F,30000,0,Clerical,0,1,Residenz Straße 98,NaN,1 (11) 500 555-0191,2004-04-21
4,12518,161,Jacquelyn Dominguez,1977-09-27,S,F,30000,0,Clerical,0,1,Werftstr 544,NaN,1 (11) 500 555-0134,2004-02-02

In [49]:
with set_connection() as pg:
    print(pd.io.sql.get_schema(customers, 'customers', con=pg))

CREATE TABLE customers (
	customer_key BIGINT,
	geography_key BIGINT,
	name TEXT,
	birth_date TIMESTAMP WITHOUT TIME ZONE,
	marital_status TEXT,
	gender TEXT,
	yearly_income BIGINT,
	number_children_at_home BIGINT,
	occupation TEXT,
	house_owner_flag BIGINT,
	number_cars_owned BIGINT,
	address_line1 TEXT,
	address_line2 TEXT,
	phone TEXT,
	date_first_purchase TIMESTAMP WITHOUT TIME ZONE
)

In [58]:
customers['yearly_income'].agg(['min', 'max'])

min     10000
max    170000
Name: yearly_income, dtype: int64

In [55]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_key             18484 non-null  int64
 1   geography_key            18484 non-null  int64
 2   name                     18484 non-null  object
 3   birth_date               18484 non-null  datetime64[ns]
 4   marital_status           18484 non-null  object
 5   gender                   18484 non-null  object
 6   yearly_income            18484 non-null  int64
 7   number_children_at_home  18484 non-null  int64
 8   occupation               18484 non-null  object
 9   house_owner_flag         18484 non-null  int64
 10  number_cars_owned        18484 non-null  int64
 11  address_line1            18484 non-null  object
 12  address_line2            312 non-null    object
 13  phone                    18484 non-null  object
 14  date_first_purchase      18484 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(6), object(7)
memory usage: 2.1+ MB

In [61]:
customers['phone'].str.len().sort_values()

18470    12
18469    12
9559     12
9823     12
9822     12
         ..
16       19
18481    19
18482    19
18483    19
0        19
Name: phone, Length: 18484, dtype: int64

In [60]:
customers['house_owner_flag'].unique()

array([0, 1])

In [62]:
customers.columns

Index(['customer_key', 'geography_key', 'name', 'birth_date', 'marital_status',
       'gender', 'yearly_income', 'number_children_at_home', 'occupation',
       'house_owner_flag', 'number_cars_owned', 'address_line1',
       'address_line2', 'phone', 'date_first_purchase'],
      dtype='object')

In [64]:
with set_connection() as pg:
    print(pd.io.sql.get_schema(products, 'products', con=pg))

CREATE TABLE products (
	product_key BIGINT,
	product_subcategory_key BIGINT,
	product_name TEXT,
	standard_cost FLOAT(53),
	color TEXT,
	safety_stock_level BIGINT,
	list_price FLOAT(53),
	size TEXT,
	size_range TEXT,
	weight FLOAT(53),
	days_to_manufacture BIGINT,
	product_line TEXT,
	dealer_price FLOAT(53),
	class TEXT,
	model_name TEXT,
	description TEXT,
	start_date TIMESTAMP WITHOUT TIME ZONE,
	end_date TIMESTAMP WITHOUT TIME ZONE,
	status TEXT
)

In [85]:
products['model_name'].str.len().sort_values()

144     5
150     7
152     7
151     7
64      8
       ..
274    25
341    27
342    27
344    27
343    27
Name: model_name, Length: 397, dtype: int64

In [76]:
products['size_range'].unique()

array(['42-46 CM', '38-40 CM', '48-52 CM', '54-58 CM', '60-62 CM', nan,
       'S', 'M', 'L', 'XL', '70'], dtype=object)

In [67]:
products['standard_cost'].agg(['min', 'max'])

min       0.8565
max    2171.2942
Name: standard_cost, dtype: float64

In [79]:
products['days_to_manufacture'].unique()

array([4, 1, 2, 0])

In [82]:
products['dealer_price'].agg(['min', 'max'])

min       1.374
max    2146.962
Name: dealer_price, dtype: float64

In [86]:
products['description'].unique()

array(['Serious back-country riding. Perfect for all levels of competition. Uses the same HL Frame as the Mountain-100.',
       'For true trail addicts.  An extremely durable bike that will go anywhere and keep you in control on challenging terrain - without breaking your budget.',
       'This bike delivers a high-level of performance on a budget. It is responsive and maneuverable, and offers peace-of-mind when you decide to go off-road.',
       'Top-of-the-line competition mountain bike. Performance-enhancing options include the innovative HL Frame, super-smooth front suspension, and traction for all terrain.',
       'Suitable for any type of riding, on or off-road. Fits any budget. Smooth-shifting with a comfortable ride.',
       'Same technology as all of our Road series bikes, but the frame is sized for a woman.  Perfect all-around bike for road or racing.',
       'Cross-train, race, or just socialize on a sleek, aerodynamic bike designed for a woman.  Advanced seat technology provides comfort all day.',
       'This bike is ridden by race winners. Developed with the Adventure Works Cycles professional race team, it has a extremely light heat-treated aluminum frame, and steering that allows precision control.',
       'A true multi-sport bike that offers streamlined riding and a revolutionary design. Aerodynamic design lets you ride with the pros, and the gearing will conquer hilly roads.',
       "Value-priced bike with many features of our top-of-the-line models. Has the same light, stiff frame, and the quick acceleration we're famous for.",
       'Alluminum-alloy frame provides a light, stiff ride, whether you are racing in the velodrome or on a demanding club ride on country roads.',
       'Entry level adult bike; offers a comfortable ride cross-country or down the block. Quick-release hubs and rims.',
       "The plush custom saddle keeps you riding all day,  and there's plenty of space to add panniers and bike bags to the newly-redesigned carrier.  This bike has stability when fully-loaded.",
       'Travel in style and comfort. Designed for maximum comfort and safety. Wide gear range takes on all hills. High-tech aluminum alloy construction provides durability without added weight.',
       'All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.',
       'All-purpose bar for on or off-road.',
       'Tough aluminum alloy bars for downhill.',
       'Flat bar strong enough for the pro circuit.',
       'Unique shape provides easier reach to the levers.',
       'Anatomically shaped aluminum tube bar will suit all riders.',
       'Designed for racers; high-end anatomically shaped bar from aluminum alloy.',
       'Unique shape reduces fatigue for entry level riders.',
       'A light yet stiff aluminum bar for long distance riding.',
       'Chromoly steel.', 'Aluminum alloy cups; large diameter spindle.',
       'Aluminum alloy cups and a hollow axle.', nan,
       'All-weather brake pads; provides superior stopping by applying more surface to the rim.',
       'Superior shifting performance.', 'Super rigid spindle.',
       'High-strength crank arm.',
       'Triple crankset; alumunim crank arm; flawless shifting.',
       'Wide-link design.',
       'Stout design absorbs shock and offers more precise steering.',
       'Composite road fork with an aluminum steerer tube.',
       'High-performance carbon road fork with curved legs.',
       'Threadless headset provides quality at an economical price.',
       'Sealed cartridge keeps dirt out.',
       'High-quality 1" threadless headset with a grease port for quick lubrication.',
       'Each frame is hand-crafted in our Bothell facility to the optimum diameter and wall-thickness required of a premium mountain frame. The heat-treated welded aluminum frame has a larger diameter tube that absorbs the bumps.',
       "The ML frame is a heat-treated aluminum frame made with the same detail and quality as our HL frame. It offers superior performance. Men's version.",
       "The ML frame is a heat-treated aluminum frame made with the same detail and quality as our HL frame. It offers superior performance. Women's version.",
       'Our best value utilizing the same, ground-breaking frame technology as the ML aluminum frame.',
       'Expanded platform so you can ride in any shoes; great for all-around riding.',
       'Lightweight, durable, clipless pedal with adjustable tension.',
       'Stainless steel; designed to shed mud easily.',
       'Clipless pedals - aluminum.',
       'Lightweight aluminum alloy construction.',
       'Top-of-the-line clipless pedals with adjustable tension.',
       'A stable pedal for all-day riding.',
       "Made from the same aluminum alloy as our top-of-the line HL frame, the ML features a lightweight down-tube milled to the perfect diameter for optimal strength. Women's version.",
       'Our lightest and best quality aluminum frame made from the newest alloy; it is welded and heat-treated for strength. Our innovative design results in maximum comfort and performance.',
       'The LL Frame provides a safe comfortable ride, while offering superior bump absorption in a value-priced aluminum frame.',
       "Made from the same aluminum alloy as our top-of-the line HL frame, the ML features a lightweight down-tube milled to the perfect diameter for optimal strength. Men's version.",
       'Synthetic leather. Features gel for increased comfort.',
       'Designed to absorb shock.',
       'Anatomic design for a full-day of riding in comfort. Durable leather.',
       'Lightweight foam-padded saddle.', 'Rubber bumpers absorb bumps.',
       'Lightweight kevlar racing saddle. Leather.',
       'Comfortable, ergonomically shaped gel saddle.',
       'New design relieves pressure for long rides.',
       'Cut-out shell for a more comfortable ride.',
       "The HL aluminum frame is custom-shaped for both good looks and strength; it will withstand the most rigorous challenges of daily riding. Men's version.",
       'Lightweight butted aluminum frame provides a more upright riding position for a trip around town.  Our ground-breaking design provides optimum comfort.',
       'Replacement mountain wheel for entry-level rider.',
       'Replacement mountain wheel for the casual to serious rider.',
       'High-performance mountain replacement wheel.',
       'Aerodynamic rims for smooth riding.',
       'Excellent aerodynamic rims guarantee a smooth ride.',
       'Strong wheel with double-walled rim.',
       'Replacement road rear wheel for entry-level cyclist.',
       'Aluminum alloy rim with stainless steel spokes; built for speed.',
       'Strong rear wheel with double-walled rim.',
       'Replacement road front wheel for entry-level cyclist.',
       'Sturdy alloy features a quick-release hub.',
       'Designed for the AWC team with stay-put straps, moisture-control, chamois padding, and leg grippers.',
       'Traditional style with a flip-up brim; one-size fits all.',
       'Full padding, improved finger flex, durable palm, adjustable closure.',
       'Synthetic palm, flexible knuckles, breathable mesh upper. Worn by the AWC team riders.',
       'Unisex long-sleeve AWC logo microfiber cycling jersey',
       'Short sleeve classic breathable jersey with superior moisture control, front zipper, and 3 back pockets.',
       "Men's 8-panel racing shorts - lycra with an elastic waistband and leg grippers.",
       'Heavy duty, abrasion-resistant shorts feature seamless, lycra inner shorts with anti-bacterial chamois for comfort.',
       'Combination of natural and synthetic fibers stays dry and provides just the right cushioning.',
       'Thin, lightweight and durable with cuffs that stay up.',
       'Warm spandex tights for winter riding; seamless chamois construction eliminates pressure points.',
       'Light-weight, wind-resistant, packs to fit into a pocket.',
       'Carries 4 bikes securely; steel construction, fits 2" receiver hitch.',
       'Perfect all-purpose bike stand for working on your bike at home. Quick-adjusting clamps and steel construction.',
       'AWC logo water bottle - holds 30 oz; leak-proof.',
       'Tough aluminum cage holds bottle securly on tough terrain.',
       'Aluminum cage is lighter than our mountain version; perfect for long distance trips.',
       'Washes off the toughest road grime; dissolves grease, environmentally safe. 1-liter bottle.',
       'Clip-on fenders fit most mountain bikes.',
       'Universal fit, well-vented, lightweight , snap-on visor.',
       'Versatile 70 oz hydration pack offers extra storage, easy-fill access, and a waist belt.',
       'Affordable light for safe night riding - uses 3 AAA batteries',
       'Rechargeable dual-beam headlight.',
       'Rugged weatherproof headlight.',
       'Wraps to fit front and rear tires, carrier and 2 keys included.',
       'Durable, water-proof nylon construction with easy access. Large enough for weekend trips.',
       'Designed for convenience. Fits in your pocket. Aluminum barrel. 160psi rated.',
       'Simple and light-weight. Emergency patches stored in handle.',
       'Includes 8 different size patches, glue and sandpaper.',
       'Self-sealing tube.', 'Conventional all-purpose tube.',
       'General purpose tube.',
       'Comparible traction, less expensive wire bead casing.',
       'Great traction, high-density rubber.',
       'Incredible traction, lightweight carbon reinforced.',
       'Same great treads as more expensive tire with a less expensive wire bead casing.',
       'Higher density rubber.',
       'Lightweight carbon reinforced  for an unrivaled ride at an un-compromised weight.',
       'High-density rubber.'], dtype=object)

In [90]:
products['status'].unique()

array([nan, 'Current'], dtype=object)

In [92]:
products.columns

Index(['product_key', 'product_subcategory_key', 'product_name',
       'standard_cost', 'color', 'safety_stock_level', 'list_price', 'size',
       'size_range', 'weight', 'days_to_manufacture', 'product_line',
       'dealer_price', 'class', 'model_name', 'description', 'start_date',
       'end_date', 'status'],
      dtype='object')

In [96]:
with open('dicts/columns.json') as f:
    columns_dict = json.load(f)

In [98]:
columns_dict['customers']

['customer_key',
 'name',
 'birth_date',
 'marital_status',
 'gender',
 'yearly_income',
 'number_children_at_home',
 'occupation',
 'house_owner_flag',
 'number_cars_owned',
 'phone',
 'date_first_purchase']

In [100]:
def make_snake_case(col_name: str) -> str:
    new_col_name = ''
    for ix, sym in enumerate(col_name):
        if sym.isupper() and ix != 0:
            new_col_name += f"_{sym.lower()}"
        else:
            new_col_name += sym.lower()
    
    return new_col_name

In [105]:
def read_data(sheet_name: str) -> pd.DataFrame:
    table_name = make_snake_case(sheet_name)
    usecols = columns_dict[table_name]

    df = pd.read_excel(
        SOURCE, 
        sheet_name=sheet_name,
    )
    df.rename(columns={col: make_snake_case(col) for col in df.columns}, inplace=True)

    return df[usecols]

In [106]:
customers2 = read_data('Customers')

In [107]:
customers.columns

Index(['customer_key', 'geography_key', 'name', 'birth_date', 'marital_status',
       'gender', 'yearly_income', 'number_children_at_home', 'occupation',
       'house_owner_flag', 'number_cars_owned', 'address_line1',
       'address_line2', 'phone', 'date_first_purchase'],
      dtype='object')

In [108]:
customers2.columns

Index(['customer_key', 'name', 'birth_date', 'marital_status', 'gender',
       'yearly_income', 'number_children_at_home', 'occupation',
       'house_owner_flag', 'number_cars_owned', 'phone',
       'date_first_purchase'],
      dtype='object')

In [113]:
def load_data(df: pd.DataFrame, table_name: str) -> None:
    with set_connection() as pg:
        pg.execute(text(f"truncate table {table_name}"))
        pg.commit()

        df.to_sql(
            name=table_name,
            con=pg,
            index=False,
            if_exists='append'
        )

In [114]:
load_data(df=customers2, table_name='customers')