In [13]:
import pandas as pd
from sqlalchemy import text
from db import set_connection

In [8]:
query = """
select * 
from invoice 
limit 2
offset 10
"""

In [9]:
with set_connection() as pg_con:
    df = pd.read_sql(query, pg_con)

In [10]:
df

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,11,52,2021-02-06,202 Hoxton Street,London,None,United Kingdom,N1 5LH,8.91
1,12,2,2021-02-11,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,13.86

In [11]:
with set_connection() as pg_con:
    df.to_sql(
        name='tracks2',
        con=pg_con,
        index=False,
        if_exists='append'
    )

In [ ]:
create_table_query = text("""
    create table users
    (
        user_id serial
        , username varchar(50) not null unique
        , created_at date
        , primary key (user_id)
    )
""")

In [ ]:
with engine.connect() as pg_con:
    pg_con.execute(create_table_query)
    pg_con.commit()

In [14]:
update_query = text("""
    update tracks2
    set total = 4
    where invoice_id = 7
""")

In [15]:
with set_connection() as pg_con:
    pg_con.execute(update_query)
    pg_con.commit()

### Создайте три переменные - name, surname и fathername
### Перменные должны хранить ваше Имя, Фамилию и Отчество
### Выведите значения всех перменных, в одной строке

### Пример вывода:
### Бобоев Джамшед Давронович